Library/PackageCache/com.unity.2d.animation@3.2.5/package.json
Library/PackageCache/com.unity.2d.path@2.0.6/package.json
Library/PackageCache/com.unity.2d.pixel-perfect@2.0.4/Samples~/Scenes and Extras/Scenes/Presets/Pixel Perfect Cameras/PixelPerfectCamera_16PPU_320x240_Pixel Snapped.preset.meta
Library/PackageCache/com.unity.2d.pixel-perfect@2.0.4/Samples~/Scenes and Extras/Scenes/Presets/Pixel Perfect Cameras/PixelPerfectCamera_32PPU_320x240_Pixel Snapped.preset
Library/PackageCache/com.unity.2d.pixel-perfect@2.0.4/Samples~/Scenes and Extras/Scenes/Presets/Pixel Perfect Cameras/PixelPerfectCamera_16PPU_320x240_Pixel Snapped.preset
Library/PackageCache/com.unity.2d.pixel-perfect@2.0.4/Samples~/Scenes and Extras/Scenes/Presets/Pixel Perfect Cameras/PixelPerfectCamera_32PPU_320x240_Pixel Snapped.preset.meta
